* {
    transition: 0.5s all;
}

body,
html {
    background-color: white;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg-image {
    top: 0;
    min-height: 100%;
    min-width: 100%;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    z-index: 0;
}

.home {
    background-image: url("images/background/wallpaper.gif");
}

.footer {
    bottom: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    left: 25%;
    right: 25%;
    position: fixed;
    text-align: center;
    z-index: 0;
}

.footer p {
    font-size: 1.5vh;
    line-height: 1vh;
    z-index: 0;
}

.footer a {
    color: #C2524E;
}

.footer a:hover {
    color: #f88682;
}

#homeScreen {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
}

p {
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    line-height: 4vh;
    padding: 2px;
    position: relative;
    text-align: center;
}

h1 {
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 7vh;
    line-height: 4vh;
    padding: 2px;
    position: relative;
    text-align: center;
}

button {
    background-color: transparent;
    border: 0.5vh solid white;
    border-radius: 3vh;
    color: white;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    z-index: 1;
}

button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

button.playBtn {
    padding: 2vh 5vh;
    z-index: 100;
}

button.higherLowerBtn {
    padding: 1.25vh, 3vh;
    position: relative;
    margin: 0.5vh;
}

#buttons {
    display: none;
    z-index: 100;

}

#logo {
    width: 40vh;
}

#logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#lose, #win {
    display: none;
}

#scores {
    bottom: 0;
    position: absolute;
}

#highscore, #currScore {
    bottom: 2.5vh;
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    line-height: 4vh;
    text-align: center;
    left: 120vh;
    right: 120vh;
    position: fixed;
    z-index: 0;
}

#highscore {
    left: 20vh;
}

#currScore {
    right: 20vh;
}


#winlose {
    width: 7vh;
}

#suske {
    width: 5vh;
}

#charImage {
    visibility: hidden;
    opacity: 0;
}

#myArtifact, #image2 {
    /*disable dragging image */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;

    width: 20%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(0.1vh);
    opacity: 0;
    z-index: -6;

}

#censorBar {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 20%;
    z-index: -5;
}

.caption {
    position: relative;
    top: 40vh;
    display: block;
}